<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <h1>{{ page.title }}</h1>
    {% if page.featured-image %}
      <span class="image main">
        <img src="{{ page.featured-image }}" alt="">
      </span>
    {% endif %}

    {% if page.player-id %}
    <iframe 
      src="https://samply.app/embed/{{ page.player-id }}?color=4b4b4b"
      width="100%"
      height="400"
      frameborder="0">
    </iframe>
    {% endif %}
        
    <section>
      <div class="row">
        {{ content }}
      </div>
    </section>
    {% include footer.html %}


</body>

</html>
